/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* common styles start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 90%;
    margin: 100px auto;
}

/* common styles end */


/* header section start */
header {
    width: 90%;
    margin: 20px auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.headerLogo span a {
    text-decoration: none;
    color: #394867;
    font-size: 24px;
    font-weight: bold;
}

.mainMenu {
    display: flex;
    flex-direction: row-reverse;
}

.shoppingIcon {
    margin-left: 10px;
    color: #394867;
}

#toggler,
label {
    display: none;
}

.headerLink a {
    margin-left: 20px;
    text-decoration: none;
    color: #212A3E;
    position: relative;
}

.headerLink .linkStyles::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #212A3E;
    opacity: .6;
    transition: all ease 1s;
}

.headerLink .linkStyles:hover::before {
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    opacity: .8;
}

/* header section end */

/* journey section start */
.journey {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.journeyDetails {
    width: 80%;
}

.journeyDetails h1 {
    font-size: 52px;
    font-weight: bold;
    color: #394867;
}

.journeyDetails p {
    font-size: 14px;
    font-weight: 600;
    color: #3A3A3A;
    width: 60%;
    margin: 15px 0 30px 0;
}

.commonBtn {
    width: 196px;
    height: 44px;
    background-color: #212A3E;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.commonBtn input {
    border: none;
    background-color: inherit;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.commonBtn i {
    color: #ffffff;
    margin-left: 10px;
    font-size: 16px;
    transition: all ease .5s;
    cursor: pointer;
}

.commonBtn:hover i {
    transform: scale(1.5);
}

.journeyImg {
    text-align: center;
}

.journeyImg img {
    width: 440px;
    height: 414px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .03);
    transition: all ease .5s;
}

.journeyImg:hover img {
    transform: translate(5px);
}

/* journey section end */


/* pay section start */
.paySection {
    display: flex;
    justify-content: center;
}

.pay {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    justify-items: center;
    border-top: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    padding: 30px;
    align-items: center;
}

.pay img {
    cursor: pointer;
    transition: all ease .5s;
}

.pay img:hover {
    transform: translateY(-5px);
}

/* pay section end */


/* populer collection section start */

.popularCollection {
    text-align: center;
}

.popularTitle {
    color: #394867;
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.collections {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.collection {
    width: 320px;
    border-radius: 22px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .05);
    transition: all ease 1s;
    overflow: hidden;
}

.collection:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, .1);
}

.collectionImg {
    height: 252px;
    overflow: hidden;
    border-radius: 20px;
}

.collectionImg img {
    width: 100%;
    height: 252px;
    border-radius: 20px;
    transition: all ease 1s;
}

.collection:hover .collectionImg img {
    transform: scale(1.1);
}


.collectionInfo {
    padding: 20px;
}

.collectionTitle {
    font-size: 28px;
    color: #394867;
}

.collectionPrice {
    font-size: 24px;
    margin: 10px 0 25px 0;
    display: inline-block;
}

.rattings {
    margin-bottom: 10px;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #212A3E;
}

.fa-star.empty {
    color: #d1d1d1;
}

.rattings span {
    margin-left: 10px;
    font-weight: bold;
}

.collectionAvailable {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

/* populer collection section end */














/* media query start */

@media screen and (max-width: 768px) {

    nav {
        align-items: center;
    }

    .shoppingIcon {
        color: #000;
        margin: 0 10px 0 0;
    }

    .headerLink {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 100%;
    }

    .headerLink .linkStyles::before {
        width: 0;
        height: 0;
        bottom: 0;
        left: 0;
    }

    .headerLink .linkStyles:hover::before {
        width: 0;
        height: 0;
        bottom: 0;
        left: 0;
    }

    label {
        display: inline-flex;
        margin-right: 5px;
        color: #000;
    }

    #toggler:checked~.headerLink {
        width: 100%;
        max-height: 100%;
        top: 65px;
        left: 0;
        text-align: center;
        background-color: #394867;
        padding: 20px 0 0 0;
        z-index: 99;
    }

    .headerLink a {
        color: #ffffff;
        margin: 0 0 20px 0;
    }

    .pay img {
        width: 50px;
    }
}



@media screen and (max-width: 992px) {
    .journey {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .journeyImg img {
        width: 257px;
        height: 257px;
    }

    .journeyDetails {
        width: 100%;
        text-align: center;
    }

    .journeyDetails h1 {
        font-size: 28px;
    }

    .journeyDetails p {
        width: 100%;
    }

    .commonBtn {
        width: 100%;
    }

    .pay {
        grid-template-columns: repeat(4, 1fr);
    }

}

/* media query end */